   tr,
   th,
   td {
       border: solid 1px;
       padding: 8px;
       text-align: left;
   }
   
   table {
       width: 400px;
       border-collapse: collapse;
       padding: 8px
   }
   
   .customChange {
       background-color: red;
       color: brown;
   }
   
   .newstyle {
       background-color: green;
       color: white;
   }
   
   .newstyle1 {
       background-color: red;
       color: yellow;
   }
   
   .bg1 {
       background-color: red;
   }
   
   .bg {
       background-color: green;
   }
   
   .text {
       color: yellow
   }
   
   .text1 {
       color: white
   }