<!-- <h1>Hello Angular {{title}}</h1> -->

<!-- <app-login></app-login> -->

<!-- <app-card [title]="thisistitle" [body]="thisisbody"></app-card> -->
<!-- <app-eventbinding></app-eventbinding> -->

<!-- TWO WAY BINDING -->
<!-- <app-two-way-binding></app-two-way-binding> -->

<!-- STRUCTURAL DIRECTIVES ngIf, ngIfElse etc -->
<!-- <app-structural-directives></app-structural-directives> -->

<!-- STYLING ELEMENTS DYNAMICALLY -->
<!-- <app-dynamic-styling></app-dynamic-styling> -->

<!-- VIEW ENCAPSULATIONS -->
<!-- <app-view-encapsulation></app-view-encapsulation> -->

<!-- HOSTLISTENER HOSTBINDING -->
<app-hostlistener-hostbinding></app-hostlistener-hostbinding>