<div class="products">
    <table>
        <tbody>
            <tr>
                <td appBgcolor>
                    <app-product></app-product>
                </td>
                <td appBgcolor>
                    <app-product></app-product>
                </td>
                <td appBgcolor>
                    <app-product></app-product>
                </td>
                <td appBgcolor>
                    <app-product></app-product>
                </td>
            </tr>
            <tr>
                <td appBgcolor>
                    <app-product></app-product>
                </td>
                <td appBgcolor>
                    <app-product></app-product>
                </td>
                <td appBgcolor>
                    <app-product></app-product>
                </td>
                <td appBgcolor>
                    <app-product></app-product>
                </td>
            </tr>
        </tbody>
    </table>
</div>